{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dash Board</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="background">
        <form class="container width_dashboard" name="dashboard">
            <div class="title p26">Dash Board</div>
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <div class="container_btn btn_small" id="btn_addModal" onclick="addModal();" style="width:30%;">
                            <div class="color_btn"></div>
                            <button class="txt_btn" type="button">Add</button>
                        </div>  
                    </td>
                    <td style="width:50%;">
                        <div class="container_btn btn_small" id="btn_logoutModal" onclick="logoutSubmit();" style="width:30%; margin-left:70%;">
                            <div class="color_btn"></div>
                            <button class="txt_btn" type="button">Log Out</button>
                        </div>
                    </td>
                </tr>
            </table>
            
            <hr />
            <!--filter start-->
            <table style="width:100%">
                <!--filter list-->
                <tr>
                    <!--<th align="left"><span class="label p11">filter</span></th>-->
                    <th align="left" style="width:33%;">
                        <!--type select-->
                        <div>
                            <span class="label p11">Type</span>
                            <!--<select id="dropdown_type">
                                <option value="grocery">Grocery</option>
                                <option value="office">Office Supply</option>
                                <option value="electonic">Electonic</option>
                                <option value="movie">Movie</option>
                            </select>-->
                        </div>
                    </th>
                    <th align="left" style="width:33%;"><span class="label p11">location </span>
                    <!--<input id="Text1" type="text" /></th>-->
                    <th align="center" style="width:33%;">
                        <!--month select-->
                        <div>
                            <span class="label p11">month</span>
                            <!--<select id="dropdown_type">
                                <option value="1">JANUARY</option>
                                <option value="2">FEBUARY</option>
                                <option value="3">MARCH</option>
                                <option value="4">APRIL</option>
                                <option value="5">MAY</option>
                                <option value="6">JUN</option>
                                <option value="7">JULY</option>
                                <option value="8">AUGUST</option>
                                <option value="9">SEPTEMBER</option>
                                <option value="10">OCTOBER</option>
                                <option value="11">NOVEMBER</option>
                                <option value="12">DECEMBER</option>
                            </select>
                            -->
                        </div>
                    </th>
                </tr>
            </table>
            <!--fileter end-->
            <hr />
            <!--transaction start-->
            <div>
                <table style="width:100%;">
                    {% for post in posts %}
                    <tr>
                        <td style="width:33%;"><p>{{ post.title }}</p></td>
                        <td style="width:33%;"><p>{{ post.text|linebreaksbr }}</p></td>
                        <td style="width:33%; text-align:center;"><p>{{ post.published_date }}</p></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!--transaction end-->
        </form>
    </div>
    <!--Add Popup Start-->
    <div>
        <div id="add" class="modal" style="display:none;">
            <div class="container width_login " name="addform" onsubmit="return addSubmit();">
                <div class="title p26">Add Transcation</div>
                <!--type-->
                <div>
                    <!--type select-->
                    <div class="p11">
                        <span class="label p11">Type</span>
                        <select id="dropdown_type">
                            <option value="grocery">Grocery</option>
                            <option value="office">Office Supply</option>
                            <option value="electonic">Electonic</option>
                            <option value="movie">Movie</option>
                        </select>
                    </div>
                </div>
                <div>
                    <!--month select-->
                    <div class="p11">
                        <span class="label p11">month</span>
                        <select id="dropdown_type">
                            <option value="1">JANUARY</option>
                            <option value="2">FEBUARY</option>
                            <option value="3">MARCH</option>
                            <option value="4">APRIL</option>
                            <option value="5">MAY</option>
                            <option value="6">JUN</option>
                            <option value="7">JULY</option>
                            <option value="8">AUGUST</option>
                            <option value="9">SEPTEMBER</option>
                            <option value="10">OCTOBER</option>
                            <option value="11">NOVEMBER</option>
                            <option value="12">DECEMBER</option>
                        </select>
                    </div>
                </div>
                <!--location-->
                <div class="p11">
                    <span class="label p11">Location</span>
                    <div class="wrap_input">
                        <input class="input" type="text" name="location" id="location" />
                    </div>
                </div>
                <!--description-->
                <div class="p11">
                    <span class="label p11">Description</span>
                    <div class="wrap_input">
                        <input class="input" type="text" name="description" id="description" />
                    </div>
                </div>
                <!--amount-->
                <div class="p11">
                    <span class="label p11">Amount</span>
                    <div class="wrap_input">
                        <input class="input" type="text" name="amount" id="amount" />
                    </div>
                </div>
                <!--Add Submit-->
                <div class="container_btn">
                    <div class="color_btn"></div>
                    <button class="txt_btn" type="submit" onclick="addSubmit();">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <!--Add Popup End-->
    <script src="{% static 'js/main.js' %}"></script>  
</body>
</html>